*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
.navigation-bar{
    display: flex;
    justify-content: space-between;
    height: 55px;
    background-color: #DBF5F0;
}

.item-left{
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
    margin: 14px;
    margin-left: 25px;
}

.item-left a{
    margin-right: 40px;
    color: black;
    text-decoration: none;
}

.kategori-nav a{
    color: #01C720;
}

.item-right{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 14px;
    font-size: 24px;
}

.money{
    margin-right: 40px;
    background-color: #0C6170;
    border-radius: 10px;
}

.as{
    background-color: #0C6170;
    border-radius: 10px;
    margin-right: 40px;
}

.regis{
    text-decoration: none;
    color: black;
}


/* content */

.back-button{
    position: absolute;
    left: 50px;
    top: 220px;
}

.back-button>a{
    font-size: 40px;
    color: black;
    text-decoration: none;
}

.kategori-title{
    margin-top: 25px;
    font-size: 34px;
    color: #0C6170;
    text-align: center;
}

.list-cloth{
    background-color: #DBF5F0;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    gap: 50px;
    margin: 0 50px;
    margin-bottom: 50px;
    padding: 50px 50px;
    border-radius: 10px;
    margin-top: 120px;
}

.cloth-card{
    color: black;
    text-decoration: none;
    background-color: white;
    width: 300px;
    margin: 10px 10px;
    border-radius: 10px;
}

.cloth-card>img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.card-text{
    padding: 10px  15px;
    font-size: 24px;
}

.card-text p{
    padding: 5px 0;
}

.price{
    font-size: 15px;
}

.star{
    padding: 5px 15px;
    /* font-size: 80px; */
}