*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
.navigation-bar{
    display: flex;
    justify-content: space-between;
    height: 55px;
    background-color: #DBF5F0;
}

.item-left{
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
    margin: 14px;
    margin-left: 25px;
}

.item-left a{
    margin-right: 40px;
    color: black;
    text-decoration: none;
}

.kategori-nav a{
    color: #01C720;
}

.item-right{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 14px;
    font-size: 24px;
}

.money{
    margin-right: 40px;
    background-color: #0C6170;
    border-radius: 10px;
}

.as{
    background-color: #0C6170;
    border-radius: 10px;
    margin-right: 40px;
}

.regis{
    text-decoration: none;
    color: black;
}

/* content */
.kategori-title{
    font-size: 34px;
    color: #0C6170;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.category-view{
    margin: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    gap: 100px;
}

.category-list{
    text-align: center;
}

.category-list img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 2px solid #A0A0A0;
    box-shadow: 5px 10px 8px #888888;
}

.category-list h6{
    font-size: 30px;
    font-family: Helvetica;
    font-style: bold;
}