/* navbar */
.navigation-bar{
    display: flex;
    justify-content: space-between;
    height: 55px;
    background-color: #DBF5F0;
}

.navigation-bar>.item-left{
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
    margin: 14px;
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.navigation-bar>.item-left a{
    margin-right: 40px;
    color: black;
    text-decoration: none;
    
}

/* .item-right{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 14px;
    font-size: 24px;
}

.money{
    margin-right: 40px;
    background-color: #0C6170;
    border-radius: 10px;
}

.as{
    background-color: #0C6170;
    border-radius: 10px;
    margin-right: 40px;
}

.regis{
    text-decoration: none;
    color: black;
} */