*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.form-list{
    border: 5px solid #37BEB0;
    border-radius: 20px;
    background-color: #DBF5F0;
    padding: 30px 80px;
    height: 700px;
}

.judul-register{
    text-align: center;
    margin: 15px;
}

.judul-register h1{
    font-family: 'Sanchez';
    font-size: 50px;
    font-weight: bold;
}

.submit-button{
    text-align: center;
}

.form>div{
    padding: 10px 0;
}

.form>div>label{
    font-size: 24px;
}

.form>div>input{
    border:2px solid #A0A0A0;
    border-radius: 15px;
    height: 40px;
    width: 470px;
    font-size: 20px;
    padding: 0 10px;
}

#submit-button{
    font-size: 24px;
    width: 470px;
    height: 35px;
    background-color: #0C6170;
    color: white;
    border-radius: 15px;
    border:none;
    margin-top: 40px;
}

#submit-button:hover{
    background-color: #2e94a7;
    transition: 0.5s;
}

.already-register{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.already-register>p, .already-register>a{
    font-size: 20px;
}

.already-register>a{
    color: #0C6170;
}


